.chart {
    background-color: var(--bg);
    padding: 3rem;
}

.chart-lluvia-bar-horizontal {
    text {
        font-family: var(--roboto);
        font-size: .75rem;
    }
    .bar-horizontal {
        fill: var(--element-chart);
    }
    .axis-y,
    .axis-x {
        .tick {
            /* stylelint-disable */
            line {
                stroke-dasharray: 3px 3px;
            }
            /* stylelint-enable */
        }
        .domain {
            stroke: none;
        }
    }
}
