.chart {
    background-color: var(--bg);
    padding: 3rem;
}

.area {
    fill: var(--element-chart);
}

.chart-grid {
    grid-template-columns: 33% 33% 33%;
    display: grid;
    max-width: 55rem;
    margin-bottom: 4rem;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

}

.chart-grid-element {
    border-radius: 3px;
    background-color: #F6E84E;
    padding: 1rem;
    display: inline-block;
    box-shadow: var(--shadow);
    &:hover {
        transition: all ease-in 300ms;
        background-color: #f9e82b;
        transform: translateY(-.25rem);
    }
}

.chart-grid-title {
    font-family: var(--title);
    color: #182956;
    font-size: 1rem;
    display: inline-block;
    text-decoration: none;
}

.button-color {
    font-size: 1rem;
    font-family: var(--roboto);
    padding: .5rem;
    cursor: pointer;
    box-shadow: none;
    border: 0;
    height: 2rem;
    width: 2rem;
    &.combo-first {
        background-color: #9C302C;
    }
    &.combo-second {
        background-color: #370736;
    }
    &.combo-third {
        background-color: #313366;
    }
    &.combo-fourth {
        background-color: #9D2C5D;
    }
    &.combo-fifth {
        background-color: #111;
    }
    &.combo-sixth {
        background-color: #ae1044;
    }
    &.combo-seventh {
        background-color: #213835;
    }
    &.combo-eighth {
        background-color: #CF6B57;
    }
    &.combo-ninth {
        background-color: #5A1B1A;
    }
}

.chart-lluvia-input {
    text {
        font-family: var(--roboto);
        font-size: .75rem;
    }
    .axis-y {
        .tick {
            /* stylelint-disable */
            line {
                stroke-dasharray: 3px 3px;
            }
            /* stylelint-enable */
        }
        .domain {
            stroke: none;
        }
    }
    .lluvias-por-mes-select,
    .temperatura-mensual-select,
    .temperatura-mensual-minima-select {
        border-radius: 5px;
        padding: 1rem;
        border: 1px solid #ddd;
        background-color: var(--white);
        margin: 25px 0;
        width: 7rem;
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            box-shadow: none;
            border: 0 !important;
            width: 100%;
            background-color: transparent;
            height: 100%;
            background-image: url(../img/select-arrow.svg);
            background-repeat: no-repeat;
            -webkit-background-size: 100%;
            background-size: 1rem;
            font-size: 1rem;
            font-family: var(--roboto);
            background-position: 95% center;
        }
    }
}
