.chart {
    background-color: var(--bg);
    padding: .5rem;
}

.area {
    fill: var(--element-chart);
}

.chart-lluvia {
    text {
        font-family: var(--roboto);
        font-size: .75rem;
    }
    .axis-y {
        .tick {
            /* stylelint-disable */
            line {
                stroke-dasharray: 3px 3px;
            }
            /* stylelint-enable */
        }
        .domain {
            stroke: none;
        }
    }
}

@media only screen and (min-width: 48rem) {

    .chart {
        background-color: var(--bg);
        padding: 3rem;
    }
}
