/* Dando estilos a los ejes verticales/horizontales */

.axis-x,
.axis-y {
    font-family: var(--roboto);
    .domain {
        stroke: none;
    }
}

.axis-y {
    .tick {
        line {
            stroke: #888;
            stroke-dasharray: 3px 3px;
        }
    }
}

.area {
    fill: var(--area);
}

.area-bgc1 {
    fill: var(--wes-bgc1);
}

.bg1 {
    background-color: var(--wes-bg1);
}

.area-bgc2 {
    fill: var(--wes-bgc2);
}

.bg2 {
    background-color: var(--wes-bg2);
}

.bar-bgc3 {
    fill: var(--wes-bgc3);
}

.bg3 {
    background-color: var(--wes-bg3);
}

.bar-bgc4 {
    fill: var(--wes-bgc4);
}

.bg4 {
    background-color: var(--wes-bg4);
}

.bar-bgc5 {
    fill: var(--wes-bgc5);
}

.bg5 {
    background-color: var(--wes-bg5);
}

.scatter-bgc6 {
    fill: var(--wes-bgc6);
}

.bg6 {
    background-color: var(--wes-bg6);
}

.area-bgc7 {
    fill: var(--wes-bgc7);
}

.bg7 {
    background-color: var(--wes-bg7);
}

.x-hover-line,
.y-hover-line {
    stroke: var(--wes-red);
}

.circle-focus {
    fill: var(--wes-red);
}

.text-focus {
    font-family: var(--roboto);
    font-size: 12px;
}

.overlay {
    fill: transparent;
}

.chart-lluvia-tooltip-dos {
    position: relative;
}

.tooltip {
    position: absolute;
    z-index: 2;
    width: 70px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 3px;
}

.tooltip-lluvias {
    background-color: #8B8379;
    height: auto;
    width: 300px;
    border-color: #8B8379;
    margin-left: 0;
    top: 150px;
    p {
        &:empty {
            display: none;
        }
    }
    .tooltipYear {
        color: var(--white);
        font-size: 1.1rem;
        font-weight: normal;
        max-width: 300px;
        .textYear {
            display: block;
            font-size: 1.3rem;
        }
        span {
            font-weight: bold;
            font-family: var(--monospace);
        }
    }
}

.chart-lluvia-bar-vertical-tooltip {
    position: relative;
}

.tooltip-lluvia-mes-container {
    position: absolute;
    font-family: var(--roboto);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 15px;
    border-left: 5px solid #34009c;
    background-color: #F3F3F3;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .2);
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tooltip-lluvia-mes {
    font-size: 16px;
    color: #34009c;
}

.tooltip-lluvia-mes-total {
    font-weight: bold;
}

@media only screen and (min-width: 48em) {

    .axis-x,
    .axis-y {
        font-size: 14px;
    }

}

.line {
    fill: none;
    stroke: var(--area);
}

.bar-stack-container {
    .tick {
        text {
            font-family: var(--roboto);
        }
    }
}

.chart-temperature-max {
    .axis-x .domain {
        stroke: var(--black);
    }
}
