* {
    box-sizing: border-box;
    line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: var(--background);
}

.clau-container {
    margin: 0 auto;
    width: 100%;
    padding: 2rem 0;
}

.clau-container-full {
    max-width: 90%;
    margin: 0 auto;
}

.chart-container {
    max-width: 90vw;
    margin: 2rem auto 6rem;
}

.title,
.subtitle {
    font-size: 3rem;
    font-family: var(--title);
    color: var(--wes-bluedark);
    letter-spacing: 2px;

}

.quote {
    padding: 1rem;
    background-color: var(--white);
    border-left: 5px solid var(--wes-bluedark);
    margin-left: 0;
}

.title {
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.text {
    font-size: 1rem;
    font-family: var(--adamina);
    color: var(--black);
    max-width: 30rem;
}

@media only screen and (min-width: 48em) {

    .chart-container {
        max-width: 60rem;
    }

}
