* {
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    background-color: var(--f1);
}

.clau-container {
    max-width: 90vw;
    margin: 0 auto;
}

.title,
.subtitle {
    font-size: 2rem;
    font-family: var(--archivo);
    color: var(--wes-bluedark);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.title {
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.5rem;
}

.text {
    font-size: 1rem;
    font-family: var(--merri);
    color: var(--black);
}

@media only screen and (min-width: 48em) {

    .subtitle,
    .title {
        letter-spacing: 0;
        font-size: 3rem;
    }

    .title {
        font-size: 4rem;
    }

    .clau-container {
        max-width: 60rem;
    }

}
