.chart {
    padding: 3rem;
}

.bar-vertical {
    fill: var(--element-chart);
}

.tooltip-lluvia-mes-container {
    position: absolute;
    font-family: var(--roboto);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 15px;
    border-left: 5px solid #34009c;
    background-color: #F3F3F3;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .2);
    top: 30vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chart-lluvia-bar-vertical-tooltip {
    text {
        font-family: var(--roboto);
        font-size: .75rem;
    }
    .axis-y {
        .tick {
            /* stylelint-disable */
            line {
                stroke-dasharray: 3px 3px;
            }
            /* stylelint-enable */
        }
        .domain {
            stroke: none;
        }
    }
}
